.sourcesArea {
  margin: 0px 25px;
  border-top: 2px solid #535353;
  border-bottom: 2px solid #535353;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 150px;
}
